doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Contacts Table
    style
      | table {
      |   width: 100%;
      |   border-collapse: collapse;
      | }
      | th, td {
      |   border: 1px solid black;
      |   padding: 8px;
      |   text-align: left;
      | }
      | th {
      |   background-color: #f2f2f2;
      | }
  body
    h1 Contacts List
    table
      thead
        tr
          th Name
          th Phone
          th Email
          th Address
          th Description
      tbody
        each contact in contacts
          tr
            td= contact.name
            td= contact.phone
            td= contact.email
            td= contact.address
            td= contact.desc
